  
%div.guideC.yui3-g
  %div.guide_imageC.yui3-u-11-48
    = link_to image_tag(spotlight.photo.url(:small), :alt => spotlight.title), spotlight_path(spotlight.title_for_url)

  %div.guide_contentC.yui3-u-3-4  
    %h1.green
      = link_to raw(spotlight.title), spotlight_path(spotlight.title_for_url)

    %p.grey85.teaser
      = spotlight.teaser

    = link_to image_tag('/images/transparent.gif', :class => 'read_full_article', :alt => 'Read Full Article'), spotlight_path(spotlight.title_for_url)
    

