:ruby
  extra_css('comp_data')

%div#step_two_contentC
  %div.box
    %div.gutter
      = image_tag '/images/transparent.gif', :id => 'step_two_comps', :class => 'sprite', :alt => 'Step 2: Help Identify Comparable Homes'

      %div#form_gutter
        = render :partial => 'seller_listings/comp_data'

  %hr.space
  %div.box
    %div.gutter.yui3-g
      = render 'shared/quotes_row'
