:ruby
  # https://ehouseoffers.fogbugz.com/default.asp?30
  # For when we come back and turn this into a model, tracking data you will need to create a sound model is outlined
  # in that ticket

  extra_css('homeoffer3')

%div.box_contentC
  %div.box
    %div.gutter
      = image_tag '/images/transparent.gif', :id => 'step_three_title', :alt => 'Thank You! A Local Home Buyer will Contact you within 48 Hours'

      %div#affiliatesC
        - lex_img = image_tag '/images/affiliate_ads/credit_repair_lexington.png', :alt => 'Need Credit Repair Help? See Lexington Law'
        = link_to lex_img, 'http://www.lexingtonlaw.com/?tid=1934.0.thankyou', :onclick => "ga_track_page('/vpv/goal/seller-affiliate')"
        = link_to 'No Thanks', root_path
