:ruby
  extra_css('scaffold')
  
%h1 Future Home of the Admin Control Panel

%table
  %tr
    %th Resource
    %th What This Be?

  %tr
    %td Users
    %td= link_to "User Accounts", admin_user_accounts_path

  %tr
    %td Meta Data
    %td= link_to "Manage Site Title's and Description by URL", admin_meta_datum_index_path
