@import "helpers";

.add_badgeC {
    text-align : center;
}
.add_badgeC .gutter {
    padding : 10px;
}
.add_badgeC h4 {
    font-weight : bold;
    margin-bottom : -3px;
}
.add_badgeC small {
    font-size : .7em;
}
.add_badgeC img {
    margin : 15px 0;
}
.add_badgeC textarea.copyC {
    width : 90%;
    height : 2.2em;
    font-size : .8em;
    overflow : hidden;
    color : $grey;
}

