/* Blog Show Pages */
#show_pageC h1.green { margin : 10px 0px 20px 0px; }

#show_pageC hr.massive {
    margin : 3em 0;
    height : 1px;
}

#show_pageC div.article_gutter {
    width  : 90%;
    margin : 1.4em auto;
}
#show_pageC div.footnote {
    font-size : .7em;
    margin-bottom : 3px;
}



