/* green box with cream bg. For example, see new seller registration */
.box {
    border : 1px solid #d4e3a9;
    color : #7a7a7a;
    background-color : #f0f3da;
    border-radius : 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.box div.gutter {
    padding : 17px 15px;
}
.box strong {
    display : block;
    font-size : 0.85em;
    font-weight : bold;
    margin-bottom : 9px;
}
div#content > div.admin {
    float : right;
    font-size : .75em;
    line-height : 2em;
    color : #7FB86B;
}
