@import "helpers";

/* green box with cream bg. For example, see new seller registration */
.box {
    border : 1px solid $light_green;
    color : $grey;
    background-color : $wheat;
    @include corners(10);
}
.box div.gutter {
    padding : 17px 15px;
}
.box strong {
    display : block;
/*    font-size : 0.85em;*/
    font-weight : bold;
    margin-bottom : 9px;
}
