@import "helpers";

ul.breadcrumbC {
    font-size : .75em;
    margin : 0 0 1em 0;
    padding : 0;
    color : $breadcrumb_green;
    height : 2em;
    overflow : hidden;
}
ul.breadcrumbC a {
    color : $breadcrumb_green;
}
ul.breadcrumbC li {
    list-style : none;
    float : left;
    margin-left : .5em;
    line-height : 2em;
}
ul.breadcrumbC li#crumb_home {
    margin-left : 0;
}
/* (bigger) right arrow specifically for the home page breadcrumb. All the others use .rArr*/
li#crumb_home .rArr { 
    @include sprite('application', -343, -324, 14, 14);
    vertical-align : middle;
}
