
#send_image_btn {
    background : url(/images/sprites/reasons_to_sell.png) no-repeat scroll 0px 0px transparent;
    height : 34px;
    width : 128px;
}

form.email_image_form .field,
form.email_image_form input[type="text"] {
    width : 255px;
}
form.email_image_form .submitC {
    padding : 0;
}
