@import "helpers";
#send_image_btn { @include sprite('reasons_to_sell',0,0,34,128); }

form.email_image_form .field,
form.email_image_form input[type="text"] {
    width : 255px;
}
form.email_image_form .submitC {
    padding : 0;
}
form.email_image_form .js_reportC {
    margin-top : 1em;
    display : none;
    font-size : .85em;
    color : $grey;
}