.other_resourcesC {
    color : #7A7A7A;
}
.other_resourcesC h3 {
    font-weight : bold;
    margin-bottom : 9px;
}
.other_resourcesC .other_resourceC {
    text-align : center;
}
.other_resourceC p,
.other_resourceC div {
    text-align : left;
    margin : 0 6px;
    font-size : .85em;
}
.other_resourceC a.title       { color : #7A7A7A; }
.other_resourceC a.title:hover { color : #333333; text-decoration : none; }
