@import "helpers";

/* Start Sprites */
.sprite { background : url(/images/sprites/seller-register-step1.png) no-repeat scroll 0px 500px transparent; }
#lock_icon  {
    background-position : -359px -56px;
    height : 25px;
    width  : 85px;
    vertical-align : text-top;
    margin-left : 5px;
}
#truste {
    background-position : 0px -125px;
    height : 28px;
    width : 101px;
    margin : 0 0 0 20px;
}
/*#verisign {
    background-position : -103px -125px;
    height : 26px;
    width : 61px;
    margin : 0 0 0 7px;
}*/
#mcafee {
    background-position : -360px -32px;
    height : 22px;
    width : 62px;
    margin : 0 0 0 4px;
}
form input[type="image"] {
    background-position : -0px -81px;
    height : 40px;
    width  : 119px;
}
/* end sprites */

.seller_signup_boxC {
    /*width : 260px; rm'd so right col widgets have a consistent width */
    margin-bottom : 50px; /* to account for how we placed the #security_iconsC (see below) */
}
.seller_signup_boxC div.gutter {
    padding : 15px 22px 5px;    
}
/*.seller_signup_boxC h2 {
    letter-spacing : -.75px;
    color : #f89a36;
    font-size : 1.4em;
    font-weight : bold;
    margin-bottom : 5px;
}
*/
.seller_signup_boxC p,
.seller_signup_boxC strong {
    font-size : .75em;
    line-height : 16px;
    margin-bottom : 8px;
    margin-right : -25px;
}
.seller_signup_boxC strong {
    display : block;
    font-weight : bold;
    margin-bottom : 4px;
}
form#new_seller_listing .field,
form#new_seller_listing input[type="text"] {
    width : 208px;
}
form#new_seller_listing label {
    display : none;
}
form#new_seller_listing div#email.field, form#new_seller_listing input#seller_listing_user_email,
form#new_seller_listing div#number.field, form#new_seller_listing input#seller_listing_phone_number_number,
form#new_seller_listing div#address1.field, form#new_seller_listing input#seller_listing_address_address1 {
/*     width : 157px;*/
/*    width : 208px;  What was this width for? */
    width : 320px; /* main page form: width of first/last name fields and padding */
}
form#new_seller_listing div#address_zip.field, form#new_seller_listing input#seller_listing_address_zip { width : 151px; }

form#new_seller_listing div#city.field, form#new_seller_listing input#seller_listing_address_city { width : 151px; float : left; margin-right : 20px; }
form#new_seller_listing div#state.field, form#new_seller_listing input#seller_listing_address_state { width : 35px; float : left; }

.seller_signup_boxC #securityC span { display : none; }

#security_iconsC {
    float      : left; /* to take it out of the flow */
    margin-top : 17px; /* to place it below the form#new_seller_listing box */
}
.seller_signup_boxC .submitC {
    padding-top : 12px;
    width : 230px;
}
.seller_signup_boxC  #securityC {
    @include inline_block();
    font-size : .9em;
    color : #666;
    position : relative;
    top : -22px;
    left : 5px;
}
