@import "helpers";

/* Start Sprites */
#lock_icon  {
    @include sprite('seller-register-step1', -360, -57, 25, 85);
    vertical-align : middle;
}
#truste {
    @include sprite('seller-register-step1', 0, -125, 28, 101);
    margin : 0 0 0 20px;
}
#mcafee {
    @include sprite('seller-register-step1', -360, -32, 22, 62);
    margin : 0 0 0 4px;
}
form input[type="image"] {
    @include sprite('seller-register-step1', 0, -81, 40, 119);
}
.seller_signup_boxC {
    /*width : 260px; rm'd so right col widgets have a consistent width */
    margin-bottom : 50px; /* to account for how we placed the #security_iconsC (see below) */
}
.seller_signup_boxC div.gutter {
    padding : 15px 22px 5px;    
}
.seller_signup_boxC p,
.seller_signup_boxC strong {
    font-size : .75em;
    line-height : 16px;
    margin-bottom : 8px;
    margin-right : -25px;
}
.seller_signup_boxC strong {
    display : block;
    font-weight : bold;
    margin-bottom : 4px;
}


form#new_seller_listing label {
    display : none;
}
/* main page form: sum of first + last name fields + padding */
form#new_seller_listing div#email.field, form#new_seller_listing input#seller_listing_user_email,
form#new_seller_listing div#number.field, form#new_seller_listing input#seller_listing_phone_number_number,
form#new_seller_listing div#address1.field, form#new_seller_listing input#seller_listing_address_address1 {
   /*width : 157px; what was this from?! */
    width : 320px; 
}
form#new_seller_listing div#address_zip.field, form#new_seller_listing input#seller_listing_address_zip {
    width : 151px;
}
form#new_seller_listing div#city.field, form#new_seller_listing input#seller_listing_address_city {
    width : 151px;
    float : left;
    margin-right : 20px;
}
form#new_seller_listing div#state.field, form#new_seller_listing input#seller_listing_address_state {
    width : 35px;
    float : left;
}
/* right col version of new seller signup -- we need more narrow input fields */
span.shared_seller_signup div#first_name.field, span.shared_seller_signup input#seller_listing_user_first_name,
span.shared_seller_signup div#last_name.field, span.shared_seller_signup input#seller_listing_user_last_name,
span.shared_seller_signup div#email.field, span.shared_seller_signup input#seller_listing_user_email,
span.shared_seller_signup div#number.field, span.shared_seller_signup input#seller_listing_phone_number_number,
span.shared_seller_signup div#address1.field, span.shared_seller_signup input#seller_listing_address_address1 {
    width : 208px !important;
}


.seller_signup_boxC #securityC span { display : none; }

#security_iconsC {
    float      : left; /* to take it out of the flow */
    margin-top : 17px; /* to place it below the form#new_seller_listing box */
}
.seller_signup_boxC .submitC {
    padding-top : 12px;
    width : 230px;
}
.seller_signup_boxC  #securityC {
    @include inline_block();
    font-size : .9em;
    color : #666;
    position : relative;
    top : -22px;
    left : 5px;
}
