@mixin rts_sprite($x, $y, $h, $w) {
    background : url(/images/sprites/social_contact.png) no-repeat scroll #{$x}px #{$y}px transparent;
    height : #{$h}px;
    width  : #{$w}px;
}

#twitterL  { @include rts_sprite(  0,   0, 44, 44); }
#linkedinL { @include rts_sprite(-44,   0, 44, 44); }
#youtubeL  { @include rts_sprite(  0, -45, 44, 44); }
#facebookL { @include rts_sprite(-44, -45, 44, 44); }

#envelopeS { @include rts_sprite(  0, -91, 14, 15); }
#facebookS { @include rts_sprite(-18, -91, 14, 14); }
#twitterS  { @include rts_sprite(-34, -91, 14, 15); }
#youtubeS  { @include rts_sprite(-51, -91, 14, 15); }
#linkedinS { @include rts_sprite(-68, -91, 14, 15); }

.share_article_onC {
    text-align : right;
    margin : 12px 27px 0 0;
    line-height : 21px;
    color : #555;
}
.share_article_onC strong {
    font-size : .85em;
    font-weight : bold;
}
.share_article_onC .shareC {
    line-height : 10px;
    background-color : #F0F3DA;
    border-radius : 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding : 4px 8px;
/*    width : 64px;*/
    float : right;
    margin-left : 10px;
}
.shareC img {
    margin : 0 2px;
}
