textarea.copy_image_code {
    width : 255px;
    height : 2.5em;
    font-size : .8em;
    margin-bottom : 3px;
    overflow : hidden;
}
.box div.footnote {
    font-size : .7em;
    margin-bottom : 3px;
}
