@import "helpers";

#twitterL  { @include sprite('social_contact',   0,   0, 44, 44); }
#linkedinL { @include sprite('social_contact', -44,   0, 44, 44); }
#youtubeL  { @include sprite('social_contact',   0, -45, 44, 44); }
#facebookL { @include sprite('social_contact', -44, -45, 44, 44); }

#envelopeS { @include sprite('social_contact',   0, -91, 14, 15); }
#facebookS { @include sprite('social_contact', -18, -91, 14, 14); }
#twitterS  { @include sprite('social_contact', -34, -91, 14, 15); }
#youtubeS  { @include sprite('social_contact', -51, -91, 14, 15); }
#linkedinS { @include sprite('social_contact', -68, -91, 14, 15); }

.share_article_onC {
    text-align : right;
    margin : 12px 27px 0 0;
    line-height : 21px;
    color : #555;
}
.share_article_onC strong {
    font-size : .85em;
    font-weight : bold;
}
.share_article_onC .shareC {
    @include corners(5);
    line-height : 10px;
    background-color : $wheat;
    border : 1px solid $light_green;
    padding : 4px 8px;
/*    width : 64px;*/
    float : right;
    margin-left : 10px;
}
.shareC img {
    margin : 0 2px;
}
