/*------------ My own custom yui3 units ------------------*/
.yui3-u-11-48, .yui3-u-15-48, .yui3-u-33-48, .yui3-u-35-48 { 
    display        : inline-block; /* copied from http://yui.yahooapis.com/3.2.0/build/cssgrids/grids-min.css */
    letter-spacing : normal;       /* these are base styles for all the original yui3 units                   */
    vertical-align : top;
    word-spacing   : normal;
}
.yui3-u-11-48 { width : 22.91%; }
.yui3-u-15-48 { width : 31.25%; }
.yui3-u-33-48 { width : 68.75%; }
.yui3-u-35-48 { width : 72.91%; }

