@import "helpers";
@import "form_validations";


/* Start Sprites */
#step_two_comps {
    @include sprite('seller-register-step2', 0, 0, 75, 592);
}
input[type="image"] {
    @include sprite('seller-register-step2', -595, 0, 47, 223);
    margin : 16px 0 0 0px;
}


/* sprites needed from step 1 sprite */
#lock_icon  {
    @include sprite('seller-register-step1', -359, -56, 25, 85);
    vertical-align : middle;
    margin-left : 7px;
}
#truste {
    @include sprite('seller-register-step1', 0, -125, 28, 101);
    margin : 0 0 0 20px;
}
#verisign {
    @include sprite('seller-register-step1', -103, -125, 26, 61);
    margin : 0 0 0 7px;
}
#mcafee {
    @include sprite('seller-register-step1', -360, -32, 22, 62);
    margin : 0 0 0 4px;
}

/* END Sprites */

#mainC img#top {
    height : 96px;
    background : url(/images/page_banners/seller-listing-register-step1.png) no-repeat scroll 0px 0px transparent;
}
#mainC div#content { padding : 0px; }

#step_two_contentC {
    padding : 27px 33px;
}
div#form_gutter {
    padding : 25px 0 0 29px;
}
textarea,
input[type="text"] {
    width : 350px;
}
textarea { height : 3em; }
.field {
    font-size : .95em;
    color : $grey;
}
.field .left_col  { text-align : right; vertical-align : middle; }
.field .right_col { padding-left : 20px; }

.radioC span {
    @include inline_block();
    width : 40px;
    text-align :center;
}
.radioC span, .field div.note {
    font-size : .75em;
}

/* submit icons stolen from step 1 */
#securityC span { display : none; }
#security_iconsC {
    margin-top : 8px;
}
.submitC {
    padding-top : 12px;
    margin-left : 58px;
}
.submitC #securityC {
    @include inline_block();
    font-size : .9em;
    color : $grey;
    position : relative;
    top : -22px;
    left : 5px;
}


/* shared quotes partial */
div#step_one_contentC #quotes_rowC { margin : 0 0 0 15px; }
#quotes_rowC p {
    font-size : .85em;
    line-height : 1.05em;
    color : $grey;
    margin-bottom : 5px;
}

#other_others_quote { @include sprite('home', 0, -138, 24, 329); }
#top_pick_quote     { @include sprite('home', -330, -138, 24, 3341); }
