@import "helpers";
@import "seller_signup";
@import "form_validations";
@import "social_contact";

#contact_showC h1 {
    color : $orange;
    border : none;
    font-size : 1.8em;
    letter-spacing : -0.01em;
}
#contact_showC p {
    color : $grey;
    font-size : .85em;
    line-height : 1.4em;
}

.social_contactC { font-size : .85em; }

