@import "helpers";
@import "seller_signup";
@import "form_validations";
@import "form_basics";
@import "social_contact";

.social_contactC { font-size : .85em; }

#new_contactC #left_col {
    color : $grey;
}
#new_contactC #left_col > h1 {
    margin-bottom : 1em;
}
#new_contactC #left_col > p {
    font-size : .95em;
    margin-bottom : 1.5em;
}
