@import "helpers";

.formC_700 { width : 700px; }

h1,h2,h3 {
    font-size : 1.4em;
    font-weight : bold;
    color : $green;
    border-bottom : 1px solid $green;
    margin-bottom : 20px;
    line-height : 1.2em;
}
h2 {
    font-size : 1.2em;
    margin-bottom : 15px;
}
h3 {
    font-size : 1em;
    margin-bottom : 10px;
}

label {
    color : $dark_grey;
    font-weight : bold;
}
i {
    color : $grey;
}


/* FIELD elements */
.field {
/*    margin-bottom : 20px;  this is in app.scss as 10px. wtf? get your story straight */
}
.field label {
    display : block;
}
.field label[data-type="checkbox"] {
    display : inline;
    margin-left : 5px;
}
div.disabled_form_field,
.field textarea,
.field input[type="text"],
.field input[type="password"] {
    padding : 4px;
    border  : 1px solid $light_grey;
    color   : #333;
    width   : 97%;
}
div.disabled_form_field { background-color : $white_grey; }

/* Textarea Height manipulation */
.field textarea                { height : 200px; }
div.disabled_form_field.half_height,
.half_height.field textarea    { height : 100px; }
div.disabled_form_field.quarter_height,
.quarter_height.field textarea { height : 50px; }


/* Actions container */
.actions {
    margin : 10px 0 0 0;
}

/* Table Stuff */
table th {
    font-weight : bold;
    color : $dark_grey;
}

/* misc */
a[data-method='delete']:hover { color : #a00; text-decoration : none; }