p {
    margin-bottom : 20px;
}
p b {
    display : block;
}

ul    { margin-left : 20px; }
ul li { list-style-type: none; }
ul div { line-height : 1em; }

.create_link {
    float : right;
    font-size : 11px;
    font-weight : normal;
}
