@import "jquery.slider";
@import "pagination";
@import "seller_signup";
@import "form_validations";
@import "boxed_resource_list";

#menuC { margin-bottom : 12px; }
#mainC div#tab_arrow {
    display : block;
    left : 815px;
    top  : -6px;
}
#mainC img#top {
    background : url(/images/page_banners/guides.png) no-repeat scroll 0px 0px transparent;
    height : 110px;
}
hr#top_of_content.space { margin-top : -22px; }
#guide_showC .seller_signup_boxC { margin-top : -31px; }


/* guide single view */
.guideC {}
.guideC .guide_imageC {}
.guideC .guide_contentC {
    margin-left : 3px;
}
h1 a { color : inherit; }
.guide_contentC p.teaser {
    min-height : 59px;
}

/*-------------------*/

.read_full_article {
    background : url(/images/sprites/guides.png) no-repeat scroll 0px 0px transparent;
    height : 33px;
    width : 110px;
    margin : 10px 0 0 0;
}

div#left_col hr.space {
    margin : 0 0 50px 0;
}

/*---------- guide show ---------*/
/*div#guide_showC .guide_contentC { margin-right : 15px; }*/

div#guide_showC img#main_image {
    float : left;
    padding : 0 15px 10px 0;
}
div.article_body {
    padding-left : 15px;
}
div.article_body p {
    padding-bottom : 1em;
}






