@import "helpers";
@import "form_validations";
@import "quotes_row";
@import "security";


p {
    font-size : .85em;
    line-height : 1.05em;
    color : #676767;
    margin-bottom : 5px;
}

#what_we_do_video_preview  {
    @include sprite('home',0,-2,106,119);
    margin-top : 4px;
    float : left;
}
#seller_resources_icon {
    @include sprite('home',-119,-2,85,88);
    margin : 24px 0 0 -7px;
    float : left;
}
#our_home_buyers_icons {
    @include sprite('home',-214,-2,83,87);
    margin : 13px 0 0 -9px;
    float : left;
}
#get_cash_offer {
    @include sprite('home',-300,-2,77,288);
    margin : 1px 0 11px -2px;
}
#get_cash_offer_btn {
    @include sprite('home',-121,-89,48,222);
    width  : 222px !important;
    border : none !important;
}
#welcome_title {
    @include sprite('home',0,-164,17,256);
}
#what_we_do_title {
    @include sprite('home',-509,-113,15,117);
}
#our_home_buyers_title {
    @include sprite('home',-258,-164,21,157);
    margin-top : 2px;
}
#seller_resources_title {
    @include sprite('home',-345,-111,17,160);
}
#other_others_quote {
    @include sprite('home',0,-138,24,329);
}
#top_pick_quote {
    @include sprite('home',-330,-138,24,341);
}



#homeC {
    margin-top : 16px;
}
#homeC #welcome_messageC {
    width  : 541px;
    height : 437px;
    position : relative;
}
#welcome_messageC #satisfied_sellers {
    @include sprite('satisfied_sellers',-9,0,437,541);
    position : absolute;
    top : 0;
    left : 0;
    z-index : 7;
}
#welcome_messageC div#welcome_message_opacity {
    height : 122px;
    width : 100%;
    opacity : .9;
    background-color : white;
    position : absolute;
    top : 315px;
    z-index : 8;
}
#welcome_messageC div#welcome_message {
    position : absolute;
    top : 343px;
    left : 55px;
    z-index : 9;
}
/*div#welcome_message h1 {*/
h1 {
    line-height : 1em;
    font-size : 1.5em;
    font-weight : bold;
    color : #f89a36;
    letter-spacing : -.3px;
}
div#welcome_message p {
/*    color : #555555;*/
    font-size : .8em;
    line-height : 1.4em;
    margin-top : .3em;
}
#homeC #cash_offer_formC {
    margin-left : 13px;
}
form#new_seller_listing div.field,
form#new_seller_listing .field {
    margin-bottom : 10px;
    width : 320px;
}
form#new_seller_listing label {
    display : none;
}
form#new_seller_listing input {
    width : 320px;
}

div#email, div#number, div#address1, div#address_zip { clear : both; }

form#new_seller_listing div#first_name.field,  form#new_seller_listing input#seller_listing_user_first_name,
form#new_seller_listing div#last_name.field,   form#new_seller_listing input#seller_listing_user_last_name,
form#new_seller_listing div#address_zip.field, form#new_seller_listing input#seller_listing_address_zip {
    width : 150px;
}
form#new_seller_listing div#city.field,  form#new_seller_listing input#seller_listing_address_city { width : 220px; }
form#new_seller_listing div#state.field, form#new_seller_listing input#seller_listing_address_state { width : 80px; }

form#new_seller_listing div#first_name.field,
form#new_seller_listing div#city.field {
    float : left;
    margin-right : 20px;
}
form#new_seller_listing div#last_name.field, form#new_seller_listing div#state.field {
    float : left;
}

.submitC {
    padding-top : 12px;
}




/* Resources Row */
#resources_rowC {
    margin : 0 0 20px 21px;
    padding-top : 10px;
    color : #555555;
}
#sv_contentC,
#tu_contentC,
#rs_contentC {
    float : right;
    margin-right : 20px;
}
#sv_contentC { width : 173px; margin-right : 30px; }
#tu_contentC { width : 172px; margin-right : 28px; }
#rs_contentC { width : 178px; margin-right : 0px;}

#resources_rowC h1 {
    color : #81a048;
    margin-bottom : 3px;
}

.bottom_contentC a {
    color : #7fb86b;
}
