@import "helpers";
@import "form_validations";
@import "security";
@import "quotes_row";

/* Banner & box placement/padding */
div#mainC div#content { padding : 10px 30px; }

div#form_gutter {
    padding : 25px 0 0 29px;
}


/* Start Sprites */
#step_two_comps {
    @include sprite('seller-register-step2', 0, 0, 75, 592);
}
input[type="image"] {
    @include sprite('seller-register-step2', -595, 0, 47, 223);
    margin : 16px 0 0 0px;
}

/* form */
textarea,
input[type="text"] {
    width : 350px;
}
textarea { height : 3em; }
.field {
    font-size : .95em;
    color : $grey;
}
.field .left_col  { text-align : right; vertical-align : middle; }
.field .right_col { padding-left : 20px; }

.radioC span {
    @include inline_block();
    width : 40px;
    text-align :center;
}
.radioC span, .field div.note {
    font-size : .75em;
}

