@import "helpers";
@import "form_validations";
@import "quotes_row";
@import "security";
@import "how_it_works_video";

p {
    font-size : .85em;
    line-height : 1.05em;
    color : #676767;
    margin-bottom : 5px;
}
    
#tips_for_selling_icon  {
    @include sprite('home',-4,0,88,107);
    margin : 4px 0 0 20px;
    float : left;
}
#seller_resources_icon {
    @include sprite('home',-119,0,85,88);
    margin : 24px 0 0 -7px;
    float : left;
}
#our_home_buyers_icons {
    @include sprite('home',-214,0,83,87);
    margin : 13px 0 0 -9px;
    float : left;
}
#get_cash_offer {
    @include sprite('home',-300,0,77,288);
    margin : 1px 0 11px -1px;
}
#get_cash_offer_btn {
    @include sprite('home',0,-89,48,222);
    width  : 222px !important;
    border : none !important;
    outline: none;
}
#welcome_title {
    @include sprite('home',-223,-85,17,256);
}
#tips_for_selling_title {
    @include sprite('home',-385,-107,22,146);
}
#our_home_buyers_title {
    @include sprite('home',-223,-125,22,158);
    margin-top : 2px;
}
#seller_resources_title {
    @include sprite('home',-224,-106,17,160);
}
#other_others_quote {
    @include sprite('home',0,-138,24,329);
}
#top_pick_quote {
    @include sprite('home',-330,-138,24,341);
}

#homeC {
    margin-top : 16px;
}
#homeC div#hs_one {
    width : 2%;
}
#homeC #welcome_messageC {
    width  : 52%;
    height : 437px;
    padding-left : 20px;
}
#homeC #how_video_frame {
    margin-bottom : 1.5em;
}

h1 {
    line-height : 1em;
    font-size : 1.5em;
    font-weight : bold;
    color : #f89a36;
    letter-spacing : -.3px;
}
div#welcome_message {
    width : 85%;
}
div#welcome_message p {
    font-size : .8em;
    line-height : 1.4em;
    margin-top : .3em;
}
form#new_seller_listing div.field,
form#new_seller_listing .field {
    margin-bottom : 10px;
    width : 320px;
}
form#new_seller_listing label {
    display : none;
}
form#new_seller_listing input {
    width : 320px;
}

div#email, div#number, div#address1, div#address_zip { clear : both; }

form#new_seller_listing div#first_name.field,  form#new_seller_listing input#seller_listing_user_first_name,
form#new_seller_listing div#last_name.field,   form#new_seller_listing input#seller_listing_user_last_name,
form#new_seller_listing div#address_zip.field, form#new_seller_listing input#seller_listing_address_zip {
    width : 150px;
}
form#new_seller_listing div#city.field,  form#new_seller_listing input#seller_listing_address_city { width : 220px; }
form#new_seller_listing div#state.field, form#new_seller_listing input#seller_listing_address_state { width : 80px; }

form#new_seller_listing div#first_name.field,
form#new_seller_listing div#city.field {
    float : left;
    margin-right : 20px;
}
form#new_seller_listing div#last_name.field, form#new_seller_listing div#state.field {
    float : left;
}

.submitC {
    padding-top : 12px;
}




/* Resources Row */
#resources_rowC {
    margin : 0 0 20px 21px;
    padding-top : 10px;
    color : #555555;
}
#sv_contentC,
#tu_contentC,
#rs_contentC {
    float : right;
    margin-right : 20px;
}
#sv_contentC { width : 173px; margin-right : 30px; }
#tu_contentC { width : 172px; margin-right : 28px; }
#rs_contentC { width : 178px; margin-right : 0px;}

#resources_rowC h1 {
    color : #81a048;
    margin-bottom : 3px;
}

.bottom_contentC a {
    color : #7fb86b;
}
