@import "helpers";
@import "form_basics";

/* Start Sprites */
#linked_in_iconL, #facebook_iconL, #twitter_iconL, #you_tube_iconL {
    @include sprite('social_contact', 0, 0, 44, 43);
}
#twitter_iconL   { background-position :   0px  0px; }
#linked_in_iconL { background-position : -44px  0px; }
#you_tube_iconL  { background-position :   0px -45px; }
#facebook_iconL  { background-position : -44px -45px; }

.social_contactC {
    color : $grey;
    font-size : .95em;
    line-height : 1.4em;
}
.social_contactC h1 {
    color : $green;
    border : none;
    font-size : 1.5em;
    letter-spacing : -0.01em;
    margin : -1px 0 12px 6px;
}
.social_contactC strong {
    font-weight : bold;
}
.social_contactC p.addr {
    margin : .3em 0 0 0 !important;
}
.social_contactC .iconC {
    text-align : center;
}
.social_contactC .bhalf {
    margin : 3px 5px;
    line-height : 1.2em;
}

.social_contactC #contact_formC {
    margin-top : 1.5em;
}

/* contact form found in the social_contact partial */
#social_contact_formC label { display : none; }
#social_contact_formC div.field { margin-bottom : 5px; }
#social_contact_formC textarea { height : 75px; }

#social_contact_formC div.form_validation_icon {
    right: -10px;
    top  : 0.3em;
}

/* contact form in the left col (main body) */
#left_col div.form_validation_icon {
    right: 2px;
    top  : 20px;
}
