@import "helpers";
@import "form_basics";

/* Start Sprites */

.social_contactC {
    color : $grey;
    font-size : .95em;
    line-height : 1.4em;
}
.social_contactC h1 {
    color : $green;
    border : none;
    font-size : 1.5em;
    letter-spacing : -0.01em;
    margin : -1px 0 12px 6px;
}
.social_contactC strong {
    font-weight : bold;
}
.social_contactC p.addr {
    margin : .3em 0 0 0 !important;
}
.social_contactC .iconC {
    text-align : center;
}
.social_contactC .bhalf {
    margin : 3px 5px;
    line-height : 1.2em;
}

.social_contactC #contact_formC {
    margin-top : 1.5em;
}

/* contact form found in the social_contact partial */
#contact_us h1 { margin : 2em 0 0 0; }
#contact_us .x_cform_trigger { font-size : 10px; }
#contact_us label { display : none; }
#contact_us div.field { margin-bottom : 5px; }
#contact_us textarea { height : 75px; }

#contact_us div.form_validation_icon {
    right: -10px;
    top  : 0.3em;
}

/* contact form in the left col (main body) */
#left_col div.form_validation_icon {
    right: 2px;
    top  : 20px;
}
