@import "helpers";

/* Start Sprites */
.social_contact_sprite { background : url(/images/sprites/social_contact.png) no-repeat scroll 0px 500px transparent; }

#linked_in_iconL, #facebook_iconL, #twitter_iconL, #you_tube_iconL {
    height : 44px;
    width  : 43px;
}
#twitter_iconL   { background-position :   0px  0px; }
#linked_in_iconL { background-position : -44px  0px; }
#you_tube_iconL  { background-position :   0px -45px; }
#facebook_iconL  { background-position : -44px -45px; }

.social_contactC {
    color : $grey;
    font-size : .95em;
    line-height : 1.4em;
}
.social_contactC h1 {
    color : $green;
    border : none;
    font-size : 1.5em;
    letter-spacing : -0.01em;
    margin : -1px 0 12px 6px;
}
.social_contactC strong {
    font-weight : bold;
}
.social_contactC p.addr {
    margin : .3em 0 0 0 !important;
}
.social_contactC .iconC {
    text-align : center;
}
.social_contactC .bhalf {
    margin : 3px 5px;
    line-height : 1.2em;
}
