@import "helpers";
@import "edit_bullet_point_collection";

#aboutC a, #add_new_bpC a { font-size : 12px; }

#form#new_seller_listing textarea,
#form#new_seller_listing input[type="text"] {
    border  : 1px solid $light_grey;
    color   : $dark_grey;
    width   : 97%;
}

