@import "helpers";
@import "seller_signup";
@import "form_validations";
@import "share_article_on";
@import "jquery.slider";
@import "pagination";
@import "boxed_resource_list";
@import "add_badge";
@import "spotlight_header";

/* Start Page Sprite Elements */
#mic_icon {
    @include sprite(spotlight,0,0,42,40);
    float : left;
    margin : 0 10px 0 0;
}
#spotlight_icon {
    @include sprite(spotlight,-42,0,41,40);
}

/* Start Page Elements */
div#spotlight_pageC hr {
    margin : 1.5em 0;
}

div#spotlightC {
    margin : 0 15px;
    color : $grey;
}
div#spotlightC h2 { margin-bottom : 1em; }

div#spotlightC p {
    color : $grey;
    font-size : .85em;
    line-height : 1.6em;
}
#teaserC #main_spotlight_imageC {
    padding : 0 20px 20px 0;
    float : left;
}
/* modify share_article_on partial css */
.share_article_onC strong { display : none; }


ul.green    { font-size : .85em; }
ul.green li { margin-bottom : .75em; }

div#qaC {}
div#qaC h2 { margin-bottom : 0em; }
div#qaC h5 { font-size : .9em; }

div#qaC li {
    list-style : none;
    margin-bottom : 1em;
}
div#qaC strong {
    font-size : 1.1em;
    color : $grey;
    margin-bottom : .25em;
    @include inline_block();
}
strong span.q {
    font-size : 1.125em;
    color : #cfd0cf;
}

div#social_profilesC {}
div#social_profilesC #all_profilesC {
    padding : 10px 0 10px 15px;
    background : $wheat;
    @include corners(5);
    @include inline_block();
}
#all_profilesC li {
    float : left;
    list-style : none;
}
#all_profilesC img {
    margin : 0 15px 0 0;
}





