
#menuC { margin-bottom : 7px; }
#mainC div#tab_arrow {
    display : block;
    left : 240px;
    top  : -1px;
}
#mainC img#top {
    background : url(/images/page_banners/trends.png) no-repeat scroll 0px 0px transparent;
    height : 108px;
}
hr#top_of_content.space { margin-top : -15px; }

@import "jquery.slider";
@import "email_this_image";
@import "share_article_on";
@import "share_this_image";
@import "pagination";
@import "seller_signup";

/* show page specific */
@import "blog_show_page";
@import "other_resources";