/* Start Page Banner */
#menuC { margin-bottom : 12px; }
#mainC div#tab_arrow {
    display : block;
    left : 815px;
    top  : -6px;
}
#mainC img#top {
    background : url(/images/page_banners/guides.png) no-repeat scroll 0px 0px transparent;
    height : 110px;
}


/* Start Sprites */
.sprite { background : url(/images/sprites/guides.png) no-repeat scroll 0px 500px transparent; }
