#mainC div#tab_arrow {
    display : block;
    left : 815px;
    top  : -6px;
}

/* Start Sprites */
.read_full_article {
    background : url(/images/sprites/guides.png) no-repeat scroll 0px 0px transparent;
    height : 33px;
    width : 110px;
    margin : 10px 0 0 0;
}

/* the rest of it */
div#left_col hr.space {
    margin : 0 0 50px 0;
}