/* Start Page Banner */
#menuC { margin-bottom : 12px; }
#mainC img#top {
    background : url(/images/page_banners/guides.png) no-repeat scroll 0px 0px transparent;
    height : 110px;
}
ul.breadcrumbC {
    margin-top : -2px;
}

/* guide single view */
.guideC {}
.guideC .guide_imageC {}
.guideC .guide_contentC {
    margin-left : 3px;
}
.guide_contentC h1 {
    color : #84963a;
    font-size : 1.3em;
    font-weight : bold;
    margin : -2px 0 5px 0;
}
.guide_contentC p {
    color : #666;
    font-size : .85em;
    line-height : 1.4em;
}