/* Page Banner */
#menuC { margin-bottom : 6px; }
#mainC div#tab_arrow {
    display : block;
    left : 620px;
    top  : 0px;
}
#mainC img#top {
    background : url(/images/page_banners/reasons_to_sell.png) no-repeat scroll 0px 0px transparent;
    height : 100px;
}
hr#reason_page.space { margin-bottom : 14px; }

/* Start Sprites */
.reasons_sprite { background : url(/images/sprites/reasons_to_sell.png) no-repeat scroll 0px 500px transparent; }

#send_image_btn {
    background-position : 0px 0px;
    height : 34px;
    width : 128px;
}
#copy_embed_code_btn {
    background-position : -130px 0px;
    height : 34px;
    width : 128px;
}
#r_envelope_icon {
    background-position : -261px 0px;
    height : 14px;
    width : 15px;
}
#r_twitter_icon {
    background-position : -261px -16px;
    height : 14px;
    width : 15px;
}
#r_facebook_icon {
    background-position : -279px 0;
    height : 14px;
    width : 14px;
}


/* The rest */
.reason_contentC {
    margin-left : -5px;
}
.reason_contentC div.box div.gutter {
    padding : 9px 10px;
}
.reason_contentC strong {
    display : block;
    font-size : .85em;
    font-weight : bold;
    margin-bottom : 9px;
}
.reason_contentC p {
    font-size : .85em;
    margin : 10px 0;
}
form.email_image_form .field,
form.email_image_form input[type="text"] {
    width : 255px;
}
form.email_image_form .submitC {
    padding : 0;
}

.share_article_onC {
    text-align : right;
    margin : 12px 27px 0 0;
    line-height : 21px;
    color : #555;
}
.share_article_onC strong {
    font-size : .85em;
    font-weight : bold;
}
.share_article_onC .shareC {
    line-height : 10px;
    background-color : #F0F3DA;
    border-radius : 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding : 4px 8px;
    width : 64px;
    float : right;
    margin-left : 10px;
}
.shareC img {
    margin : 0 2px;
}
textarea.copy_image_code {
    width : 255px;
    height : 2.5em;
    font-size : .8em;
    margin-bottom : 3px;
    overflow : hidden;
}

hr#pre_full_article.space {
    margin-bottom : 3em;
}
h1.article_title {
    color : #84963a;
    font-size : 1.3em;
    font-weight : bold;
    margin : 10px 0px 20px 0px;
}
div.article_gutter {
    width  : 90%;
    margin : 1.4em auto;
}
div.article_body {
    color  : #666;
    line-height : 1.4em;
    font-size : .85em;
}

div.footnote {
    font-size : .7em;
    margin-bottom : 3px;
}


