
/* forms */
h1,h2 {
    font-size : 1.4em;
    font-weight : bold;
    color : #57662f;
    border-bottom : 1px solid #57662f;
    margin-bottom : 20px;
}
h2 { font-size : 1.2em; margin-bottom : 15px; }
.field {
    margin-bottom : 20px;
    width : 700px;
}
.field label {
    display : block;
    color : #333;
    font-weight : bold;
}
.field label[data-type="checkbox"] {
    display : inline;
    margin-left : 5px;
}

div.disabled_form_field,
.field textarea,
.field input[type="text"],
.field input[type="password"] {
    padding : 4px;
    border  : 1px solid #dadada;
    color   : #333;
    width   : 700px;
}
div.disabled_form_field {
    background-color : #ececec;
}
.field textarea {
    height : 200px;
}

.actions {
    margin : 10px 0 0 0;
}

/* show */
/*p {
    margin-bottom : 20px;
}
p b {
    display : block;
}
div.content {
    border : 1px solid #123;
    background-color : #dadada;
    padding : 10px;
    margin-bottom : 20px;
}
*/

/* index */
th, td {
    padding : 4px;
    border-color : #999;
}
th {
    font-weight : bold;
    color : #123;
}
td {
    color : #333;
}