:ruby
  return if collection.empty?

-# That border fixes some odd IE7 issue. don't know why, don't care. F'ing IE
%div#boxed_resource_listC.clearfix{:class => collection.first.class.name.downcase, :style => 'border:solid 1px #fff;'}
  %div.titleC
    %div#icon &nbsp;
    %h3= title

  %div.box
    %div.gutter.clearfix
      %ul
        - collection.each_with_index do |item, idx|
          %li
            - if item.class.eql?(Blog)
              = link_to item.title, construct_blog_path(item, :show)
            - else
              = link_to item.title, send("#{item.class.name.downcase}_path", item.title_for_url)
          - if idx%3==2
            %br.clear
