:ruby
  copy_code_img = image_tag_url 'featured/home-buyer-resource.png', :alt => "Featured Home Buyer Resource : eHouseOffers.com"

= link_to(copy_code_img, :controller => :home, :action => :home, :only_path => false)
%div{:style => "font-size:.7em;color:#666"}= raw "Powered by #{ link_to 'eHouseOffers.com', :controller => :home, :action => :home, :only_path => false }"
