:ruby
  copy_code_img = image_tag_url 'featured/home-buyer-resource.png', :alt => "#{spotlight.title} : eHouseOffers.com"

%div{:style => 'width:112px; text-align:center; font-size:9px; color:#666'}
  = "eHouseOffers #{link_to(copy_code_img, :controller => :spotlights, :action => :show, :id => spotlight.title_for_url, :only_path => false)}"
  = link_to 'Professional Home Buyers', :controller => :home, :action => :home, :only_path => false
