%div.seller_signup_boxC.box
  %div.gutter
    = image_tag '/images/get_a_cash_offer_on_your_house_today.png', :alt => 'Get a cash offer on your house today!'

    %p
      Find a home buyer in 3 easy steps!

    %strong
      Sell Your House Today!

    %span.shared_seller_signup
      = render :partial => 'seller_listings/form'
