:ruby
  extra_css('seller_signup')

%div.seller_signup_boxC.box
  %div.gutter
    %h2
      Get an Offer Today!

    %p
      We're so sure that we will connect you with the right people that we will get your house sold that we will eat a
      squirrel if you don't sell within the first month!

    %strong
      Sell Your House Today!

    = render :partial => 'seller_listings/form'
