:ruby
  return unless collection.present?

  extra_js('jquery.slider')

  image_size = image_size.present? ? image_size.intern : :medium


%div.slider{:id => id}
  %div.slider_bg
  %div.scroll
    %div.scrollContainer.clearfix
      - collection.each_with_index do |object, idx|
        - data_path = object.class.eql?(Blog) ? construct_blog_path(object, :show) : send("#{object.class.name.downcase}_path", object.title_for_url)
        %div.panel{:id => "panel_#{idx+1}"}
          %div.inside
            = image_tag object.photo.url(image_size), :alt => object.title, 'data-path' => data_path

  %h2 &nbsp;

  %div.scroll_actionsC
    %div.scroll_left &nbsp;
    %div.scrollbarC
      %div.scrollbar &nbsp;
    %div.scroll_right &nbsp;
