:ruby
  extra_js('jquery.slider')
  extra_css('jquery.slider')

%div.slider{:id => id}
  %div.slider_bg
  %div.scroll
    %div.scrollContainer.clearfix
      - collection.each_with_index do |object, idx|
        %div.panel{:id => "panel_#{idx+1}"}
          %div.inside
            = image_tag object.photo.url(:medium), :alt => object.title, 'data-path' => send("#{object.class.name.downcase}_path", object)

  %h2 &nbsp;

  %div.scroll_actionsC
    %div.scroll_left &nbsp;
    %div.scrollbarC
      %div.scrollbar &nbsp;
    %div.scroll_right &nbsp;
