%span#tos
  %div{:style => 'float:right'}
    = link_to 'View Terms of Service', '#tos', :id => 'tos_view_trigger'

  %h1.green
    Privacy Terms & Conditions

  %div#tos_veil.hidden
    %p
      By using the eHouseOffers.com web site (COLLECTIVELY REFERRED TO AS “WEB SITE” OR “SERVICE”), YOU ARE AGREEING TO ABIDE BY all terms, conditions, and notices contained herein. If you do not wish to be bound to this web sites terms, conditions, and notices, please do not use this web site.

    %ol#tos_list
      %li
        %h3 Personal Information
        %p The personal information we collect allows us to provide the services we offer. It also enables us to contact you when needed, and improve your experience on the web site. We will typically ask you to provide information such as name, email address, postal address, telephone number, and information about your home on the web site to receive services from eHouseOffers.com, regional investors, and real estate professionals. By submitting this personally identifiable information to eHouseOffers.com you agree to receive email and postal mail from eHouseOffers.com, real estate service providers, and other third party marketers. You further understand and agree that by using our services, you are extending an express invitation for eHouseOffers.com, real estate service providers, and other third party marketers to contact you by telephone at the numbers you have provided, and you hereby consent to receiving calls even if your phone number is on any federal, state or other “Do Not Call” lists.

      %li
        %h3 Anonymous Information
        %p The use of cookies, which is commonly used by web sites, helps us improve the quality of our services to you. So to ensure that eHouseOffers is able to provide the best content that users need most, we collect site visitation statistics using http cookies. Http Cookies are pieces of text stored on a web site’s browser that are transferred as http headers to a web server to uniquely identify user preferences, a user’s session, a computer’s browser, IP address, referring domain, page exited from, platform type, date/time stamp, visit length, visitor location & other information. When you visit eHouseOffers.com or use our services, we may place one or more cookies on your computer that will remain there either throughout that session or throughout future sessions. All cookie based information we collect may be used to analyze trends, administer our web site and track usage of eHouseOffers.

      %li
        %h3 Disclosure of Information
        %p We may disclose certain information about our database to third parties including our regional investors, real estate professionals, and third party marketers. Below are the circumstances under which we may disclose information to third parties:

        %ol
          %li
            %p We may disclose personally identifiable information to our regional investors, real estate professionals, and third party marketers for their use in sending offers, advertisements or notifications through email or postal mail.
          %li
            %p We will disclose aggregate level information about our database to marketers as necessary to convey the services that we have the ability to offer, or to report on the advertising campaigns that we have launched over the course of our existence as a company.
          %li
            %p We may release any user information if required to comply with law; to enforce or to apply the web site Terms and Conditions; or under the good faith belief that disclosure is otherwise necessary or advisable including without limitation, and not limited to, protecting the rights, properties, or safety of eHouseOffers or our users.
          %li
            %p We will not knowingly collect personally identifiable information from any person under the age of 13. Our services, including web site access, are not available to persons under the age of 13.

      %li
        %h3 Third Party Web Sites
        %p Please be aware that the web site may have links to third party web sites that may collect personally identifiable information about you. When you click on one of these third party links, you are entering another web site for which we have no responsibility. This notice does not cover the information practices or policies of such third party web sites. We encourage you to read the privacy statements of all such web sites since their privacy policies may be materially different from our notice.Similarly, such links and/or third party web sites are provided for your convenience and reference only. eHouseOffers.com does not operate or control in any respect any information, software, products or services available on such web sites. eHouseOffers.com inclusion of a link to a Web site does not imply any endorsement of the services or the site, its contents, advertisers, partners or sponsoring organizations. Any real estate broker or agent referred to you from this web site shall not be construed as an agent of eHouseOffers.com.

      %li
        %h3 Agreement and Modification
        %p By using this site, including, without limitation, submitting information on the registration page, signing up for additional home investor or advertiser offers and/or continuing to receive communication from eHouseOffers, you indicate that you have read and understand this notice and you consent to the collection and use of information by eHouseOffers in the manner explained in this notice. If you have any questions or concerns about your privacy at the web site, please contact us via email and provide a thorough description of the issue. If you do not accept this Notice, do not access and use the web site. We reserve the right, at our discretion, to change, modify, add, and/or remove portions of this notice at any time. All Privacy Policy changes will take effect immediately upon their posting on the Site. Please check this page periodically for changes. Your continued use of the web site or acceptance of our communication following the posting of changes to these terms will mean that you accept these changes and agree to continue receiving communication from eHouseOffers or our regional investors.

      %li
        %h3 Advice
        %p eHouseOffers.com is in no way providing any legal or financial advice relating to the sale or purchase of your property. Financial decisions, including decisions about selling real estate, are serious decisions that should not be taken lightly. eHouseOffers.com, its agents, employees, officers, subsidiaries, members, regional investors, real estate professionals or affiliates do not, via this web site or otherwise, encourage you to make any particular decision on issues concerning real estate without first seeking professional advice from your attorney or accountant. We are not licensed real estate agents/brokers, attorneys, or accountants, and WE DO NOT REPRESENT PARTIES AS SUCH. The material contained on this site is offered as information only and not as financial, accounting, legal or other professional advice. Users of this site should contact their own professional advisers for such advice.
        %p You agree that you must evaluate and bear all risks associated with your dealings with any real estate investor or investment company or real estate broker or brokerage company that is linked to, included in, or referred to by this site. You agree and understand that your choice to deal with any member or affiliate of this site is done at your discretion and risk, and you will be solely responsible for such dealings. In no event shall eHouseOffers be liable for any direct, indirect, incidental, punitive or consequential damages of any kind whatsoever with respect to your dealings with regional investors, real estate professionals, members, advertisers or affiliates of eHouseOffers.com.

      %li
        %h3 Copyright and Trademark Notices
        %p All contents of this web site are: Copyright © 2010 eHouseOffers.com and its suppliers or regional investors and real estate professionals.

      %li
        %h3 DISCLAIMERS AND LIMITATIONS
        %p eHouseOffers.com intends that the information contained in its web site be accurate and reliable; however, errors sometimes occur. In addition, changes and improvements to the information provided herein may be made by eHouseOffers.com at any time. THIS WEB SITE AND THE INFORMATION, SOFTWARE, PRODUCTS AND SERVICES ASSOCIATED WITH IT ARE PROVIDED “AS IS.” eHouseOffers.com AND ITS SUPPLIERS, REGIONAL INVESTORS OR REAL ESTATE PROFESSIONALS DISCLAIM ANY WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED, AS TO ANY MATTER WHATSOEVER RELATING TO THIS WEB SITE AND ANY INFORMATION, SOFTWARE, PRODUCTS AND SERVICES PROVIDED HEREIN, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NONINFRINGEMENT AND PRIVACY. USE OF THIS WEB SITE IS AT YOUR OWN RISK. eHouseOffers.com AND ITS REGIONAL INVESTORS, SUPPLIERS AND REAL ESTATE PROFESSIONALS ARE NOT LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES OR OTHER INJURY ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THIS WEB SITE OR WITH THE DELAY OR INABILITY TO USE THIS WEB SITE, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS AND SERVICES OBTAINED THROUGH THIS WEB SITE, OR OTHERWISE ARISING OUT OF THE USE OF THIS WEB SITE, WHETHER RESULTING IN WHOLE OR IN PART, FROM BREACH OF CONTRACT, TORTIOUS BEHAVIOR, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF eHouseOffers.com AND ITS REGIONAL INVESTORS, SUPPLIERS, OR REAL ESTATE PROFESSIONALS HAD BEEN ADVISED OF THE POSSIBILITY OF DAMAGES.

      %li
        %h3 INDEMNITY
        %p As a condition of use of this web site, you agree to indemnify eHouseOffers.com and its suppliers, regional investors and real estate professionals from and against any and all liabilities, expenses (including attorneys’ fees) and damages arising out of claims resulting from your use of this web site.   YOU SHALL RELEASE, DISCHARGE, AND RELINQUISH, DEFEND INDEMNIFY AND HOLD HARMLESS eHouseOffers AND ITS AFFILIATES, SUBSIDIARIES, AND VENDORS, AND EACH OF THEIR MEMBERS, SHAREHOLDERS, DIRECTORS, EMPLOYEES, AGENTS, REPRESENTATIVES, VENDORS, AND CONTRACTORS OF WHATEVER TIER (COLLECTIVELY, THE INDEMNITEES) FROM AND AGAINST ALL LOSS, CLAIMS, DEMANDS AND CAUSES OF ACTION OF WHATEVER KIND OR CHARACTER, INCLUDING WITHOUT LIMITATION COSTS, ATTORNEYS’ FEES AND EXPENSES INCURRED IN CONNECTION WITH ANY CLAIM BROUGHT BY ANY PERSON(S) OR ENTITY(IES) ARISING FROM, IN CONNECTION WITH, OR RELATING TO, YOUR ACCESS AND USE OF THE WEB SITE, INCLUDING YOUR USE OF THE INFORMATION OBTAINED THROUGH THE WEB SITE.

      %li
        %h3 DISPUTE RESOLUTION
        %p THIS AGREEMENT PROVIDES THAT ALL DISPUTES BETWEEN YOU AND eHouseOffers.com WILL BE RESOLVED BY BINDING ARBITRATION WITH THE BINDING ARBITRATION TO TAKE PLACE IN KING COUNTY, WASHINGTON. YOU THUS GIVE UP YOUR RIGHT TO GO TO COURT TO ASSERT OR DEFEND YOUR RIGHTS. YOU ALSO GIVE UP YOUR RIGHT TO PARTICIPATE IN OR BRING CLASS ACTIONS. YOUR RIGHTS WILL BE DETERMINED BY NEUTRAL ARBITRATORS AND NOT A JUDGE OR JURY. Should a dispute arise and should the arbitration provisions herein become inapplicable or unenforceable, or in any instance of any lawsuit between you and eHouseOffers.com, the parties agree that jurisdiction over and venue of any suit shall be exclusively in the state and federal courts sitting in King County, Washington and further agree that the laws of the state of Washington shall govern the agreement and any dispute between the parties or with respect to this agreement. In the event eHouseOffers.com employs attorneys to enforce any right in connection with any dispute, lawsuit, or disagreement, eHouseOffers.com shall be entitled to recover reasonable attorneys’ fees.