%h1.green About Our Home Buyers

%p.green
  What it means to be an eHouseOffers Real Estate Professional

%ul.green
  %li 
    %span 5-10+ years experience as real estate professionals
  %li 
    %span 20+ transactions closed each year
  %li 
    %span Extensive knowledge of foreclosure & short sale process
  %li 
    %span Certified Cash Buyer
  %li 
    %span Knowledgeable about local guidelines & legal guidelines 