:ruby
  extra_js('/videos/player/swfobject.js','/videos/player/jwplayer.js')

#how_video_frame
  #how_preview &nbsp;
  #how_play_button_hover &nbsp;

:javascript
  $(document).ready(function() {
    var hover_btn = $('#how_play_button_hover');
    $('#how_video_frame')
    .mouseover(function(){hover_btn.css('display','block')})
    .mouseout(function(){hover_btn.css('display','none')})
    .click(function(){
      hover_btn.css('display','none');
      $(this).unbind();
      jwplayer("how_preview").setup({
        flashplayer : "/videos/player/player.swf",
        file        : "/videos/how_it_works.flv",
        height      : "300",
        width       : 395,
        autostart   : true,
        plugins     : 'hd-1',
        'hd.file'   : "/videos/how_it_works.flv",
        'hd.state'  : true,
        events      : {
          onVolume: function(event) {}
        }
      }).setFullscreen(true);
    })
  });
