%h1.green Our Story

%p
  In early 2007, our founder, Chris Richter, was introduced to Garrett Young. Garrett and his family were on their way
  to foreclosure.

%p
  The Young Family was behind on their payments and Garrett didn't know how to get out from under his debt. In short,
  when Garrett called Chris he needed real help from a real local expert. He didn't need an investor looking to make a
  quick buck at the expense of his family.

%p
  Chris helped The Young Family get the answers they needed and ultimately to close on the sale of their home, but it
  was from the experience of walking Garrett through the home sale process that Chris realized home sellers, like The
  Young Family, need better resources for connecting with qualified home buyers. And the idea for eHouseOffers was born.

%p
  Today, years later, with a community of home buyers around the country, eHouseOffers remains the best resource for
  home sellers.

