%h1.green Our Story

%p
  In early 2007, our founder Chris Richter was introduced to a family friend who was on their way to foreclosure.
  They didn't speak English, they didn't know how to get out from under their debt, & they needed help ... not an
  investor who wanted to make a quick buck off of them. This was the point in time that Chris realized home
  sellers needed better resources & more ethical home buyers.
  
%p
  From the experience of walking Garrett and his family through their options, and ultimately helping them
  sell their house eHouseOffers was born.
