= "Hi #{@seller_listing.user.first_name}"

%p
  Thanks for choosing eHouseOffers. Your request for a home offer has been processed and a qualified local home buyer will contact you within 48 hours.

%p
  = raw "In the meantime, if you have any questions feel free to contact me directly at any time. My personal e-mail is #{mail_to 'christopher@eHouseOffers.com', 'christopher@eHouseOffers.com'}."

%p
  We look forward to speaking with you,

%p
  Chris
  %br
  (&amp; the eHouseOffers Team)