- body = render :partial => 'new_seller_confirmation'
= render :partial => 'mailer/layouts/html_template', :locals => {:body => body, :from => 'Chris', :from_byline => '(&amp; the eHouseOffers Team)'}