:ruby
  # This can take an agonizingly long time when developing, so just skip it!
  return if Rails.env.eql?('development') && !params[:force]

  extra_js('//connect.facebook.net/en_US/all.js')

:javascript
  $(document).ready(function() {
    // http://developers.facebook.com/docs/reference/javascript/FB.XFBML.parse
    FB.init({appId: "#{KEYS['facebook']['app_id']}", status: true, cookie: true, xfbml: true});
  });

%div.share_article_onC
  %strong share article on:
  %div.shareC
    - SocialProfile::SOCIAL_SITES.each do |social_profile|
      - img = image_tag '/images/transparent.gif', :id => "#{social_profile.to_s}S", :alt => social_profile.to_s.capitalize
      - if share = share_on_for_site(social_profile, object)
        - if share.social_site.eql?('facebook')
          %div#facebook_likeC
            %div#flike
              %div{:id => 'fb-root'}
                :plain
                  <fb:like href="#{share.url.to_s}" layout="button_count" show_faces="false" width="120"></fb:like>
        - else
          = link_to img, share.url.to_s, :target => '_new'

