%div.share_article_onC
  %strong share article on:
  %div.shareC
    = image_tag '/images/transparent.gif', :id => 'r_facebook_icon', :class => 'reasons_sprite', :alt => 'Facebook'
    = image_tag '/images/transparent.gif', :id => 'r_twitter_icon', :class => 'reasons_sprite', :alt => 'Twitter'
    = image_tag '/images/transparent.gif', :id => 'r_envelope_icon', :class => 'reasons_sprite', :alt => ''    