%div.share_article_onC
  %strong share article on:
  %div.shareC
    - SocialProfile::SOCIAL_SITES.each do |social_profile|
      = image_tag '/images/transparent.gif', :id => "#{social_profile.to_s}S", :alt => social_profile.to_s.capitalize
