:ruby
  extra_css('contact')

-#= render "shared/breadcrumb", :crumbs => [[:home, root_path], [:contact_us, nil]]

%div.xs_two_col.yui3-g
  %div#left_col.yui3-u-33-48
    = render :partial => "contact/form", :locals => {:message => @message}

  %div#right_col.yui3-u-7-24
    = render :partial => "shared/seller_signup"
    %hr.space
    = render :partial => "shared/social_contact"

