
%div.guideC.yui3-g
  %div.guide_imageC.yui3-u-11-48
    = link_to image_tag(guide.photo.url(:small), :alt => guide.title), object_path(guide)

  %div.guide_contentC.yui3-u-3-4  
    %h1
      = link_to raw(guide.title), object_path(guide)

    %p.teaser
      = guide.teaser

    = link_to image_tag('/images/transparent.gif', :class => 'read_full_article', :alt => 'Read Full Article'), guide_path(guide.title_for_url)
    

